{% extends "layouts/base.html" %}

{% load i18n %}

{% block description %}{{ page_description }}{% endblock %}
{% block title %}{{ page_title }} | {% translate "Task Manager" %}{% endblock %}

{% block content %}
<h1 class="my-4">{{ page_h1 }}</h1>
<table class="table">
    <div class="container">
        <div class="row mb-4">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'status_create' %}">{% translate "Create status" %}</a>
        </div>
    </div>
    {% if statuses %}
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% translate "Status name" %}</th>
                <th scope="col">{% translate "Created at" %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
                <tr>
                    <th scope="row">{{ status.id }}</th>
                    <td>{{ status.name }}</td>
                    <td>{{ status.date_created|date:"d.m.Y" }}</td>
                    <td>{{ status.date_modified|date:"d.m.Y" }}</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2" href="{% url 'status_update' status.id %}">
                            {% translate "Update" %}</button>
                        </a>
                        <a class="btn btn-danger btn-sm" href="{% url 'status_delete' status.id %}">
                            {% translate "Delete" %}</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <div class="card-body">{% translate "No statuses" %}</div>
    {% endif %}
</table>
{% endblock %}
