{% extends "layouts/base.html" %}

{% load i18n bootstrap4 %}

{% block description %}{{ page_description }}{% endblock %}
{% block title %}{{ page_title }} | {% translate "Task Manager" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body p-5 bg-light">
            <h1 class="my-4">{{ page_h1 }}</h1>
            <form method="post">
                {% csrf_token %}
                <p>{% translate "Are you sure you want to delete" %} "{{ status.name }}"?</p><br>
                <input type="submit" class="btn btn-lg btn-danger" value='{% translate "Yes, delete" %}'>
                <a class="btn btn-lg btn-primary" href="#" onclick="history.go(-1)">{% translate "No, stay and go back!!" %}</a>
            </form>
        </div>
    </div>
{% endblock %}
