{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <body class="d-flex flex-column min-vh-100">
        <header>
            {% include 'layouts/navbar.html' %}
        </header>
        <div class="container wrapper flex-grow-1">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% include 'layouts/footer.html' %}
        </footer>
    </body>
    </html>