{% extends "layouts/base.html" %}

{% load i18n bootstrap4 %}

{% block description %}{% translate "Log in into Task Manager." %}{% endblock %}
{% block title %}{% translate "Login" %} | {% translate "Task Manager" %}{% endblock %}

{% block content %}
    <h1 class="my-4">{% translate "Login" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">{% translate "Login" context "Login button" %}</button>
    </form>
{% endblock %}
